In [2]:
import pandas as pd
import pyarrow

In [3]:
df = pd.read_json('/Users/danielh/Desktop/DATASETS YELP/checkin.json', lines=True)
df.head(3)

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22

In [7]:
df.shape

(131930, 2)

In [8]:
df.isna().sum()

business_id    0
date           0
dtype: int64

In [4]:
dfb= pd.read_parquet('business3estados.parquet')
dfb.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Friday': '9:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,AZ,19147,39.943223,-75.162568,4.5,205,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Korean, Restaurants","{'Friday': '11:30-20:30', 'Monday': '11:30-20:..."

In [6]:
dfb.shape

(41444, 14)

In [5]:
dfh1=dfb['business_id']
dfh1.head(3)

5     CF33F8-E6oudUQ46HnavjQ
19    ROeacJQwBeh05Rqg7F6TCg
48    bCBPXIVfVzBZBEpFu29dcg
Name: business_id, dtype: object

In [9]:
dfch= pd.merge(dfh1, df, on='business_id', how='inner')
dfch.head(5)

              business_id                                               date
0  CF33F8-E6oudUQ46HnavjQ  2012-12-16 05:27:33, 2013-02-15 04:00:46, 2013...
1  ROeacJQwBeh05Rqg7F6TCg  2013-12-06 22:32:24, 2013-12-18 02:03:03, 2014...
2  bCBPXIVfVzBZBEpFu29dcg  2016-02-18 19:46:20, 2017-01-20 14:14:02, 2017...
3  JgpnXv_0XhV3SfbfB50nxw  2013-06-29 05:22:17, 2013-09-07 21:06:08, 2013...
4  gbN4RuUiiBxQ2GBFQ2p3Cw  2017-05-20 01:02:38, 2017-06-16 23:42:16, 2018...

In [8]:
dfch.shape

(36401, 2)

In [ ]:
dfch.to_parquet('checkin3estados.parquet')