In [1]:
import pandas as pd

In [15]:
path = "reviews-California.parquet"

In [16]:
df = pd.read_parquet(path)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     89135 non-null   object
 5   pics     5632 non-null    object
 6   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.0+ MB

In [18]:
df.describe()

            user_id          time        rating
count  1.500000e+05  1.500000e+05  150000.00000
mean   1.096641e+20  1.553771e+12       4.31154
std    5.140433e+18  5.169336e+10       1.21477
min    1.000002e+20  1.081296e+12       1.00000
25%    1.055420e+20  1.521335e+12       4.00000
50%    1.096182e+20  1.558723e+12       5.00000
75%    1.140358e+20  1.595102e+12       5.00000
max    1.184467e+20  1.631149e+12       5.00000

In [6]:
df.count()

user_id    150000
name       150000
time       150000
rating     150000
text        89135
pics         5632
gmap_id    150000
dtype: int64

In [8]:
df.isnull().sum()

user_id         0
name            0
time            0
rating          0
text        60865
pics       144368
gmap_id         0
dtype: int64

In [19]:
df = df.drop(['pics'],axis=1)

In [20]:
df.duplicated().sum()

14779