In [1]:
import pandas as pd

In [2]:
path = "reviews-Arizona.parquet"

In [3]:
df = pd.read_parquet(path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     99042 non-null   object
 5   pics     4468 non-null    object
 6   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.0+ MB

In [5]:
df.describe()

            user_id          time         rating
count  1.500000e+05  1.500000e+05  150000.000000
mean   1.095372e+20  1.556993e+12       4.328020
std    5.167221e+18  4.940988e+10       1.271181
min    1.000003e+20  1.208585e+12       1.000000
25%    1.053287e+20  1.526250e+12       4.000000
50%    1.094924e+20  1.562167e+12       5.000000
75%    1.139698e+20  1.597433e+12       5.000000
max    1.184466e+20  1.631128e+12       5.000000

In [6]:
df.count()

user_id    150000
name       150000
time       150000
rating     150000
text        99042
pics         4468
gmap_id    150000
dtype: int64

In [7]:
df.isnull().sum()

user_id         0
name            0
time            0
rating          0
text        50958
pics       145532
gmap_id         0
dtype: int64

In [8]:
df = df.drop(['pics'],axis=1)

In [9]:
df.duplicated().sum()

2917