In [1]:
import pandas as pd
from pandas import json_normalize

In [9]:
path1 = "arizona/1.json"
path2 = "arizona/2.json"
path3 = "arizona/3.json"
path4 = "arizona/4.json"
path5 = "arizona/5.json"
path6 = "arizona/6.json"
path7 = "arizona/7.json"
path8 = "arizona/8.json"
path9 = "arizona/9.json"
path10 = "arizona/10.json"
path11 = "arizona/11.json"
path12 = "arizona/12.json"
path13 = "arizona/13.json"
path14 = "arizona/14.json"

In [10]:
df1 = pd.read_json(path1,lines=True, orient='columns')
df2 = pd.read_json(path2,lines=True, orient='columns')
df3 = pd.read_json(path3,lines=True, orient='columns')
df4 = pd.read_json(path4,lines=True, orient='columns')
df5 = pd.read_json(path5,lines=True, orient='columns')
df6 = pd.read_json(path6,lines=True, orient='columns')
df7 = pd.read_json(path7,lines=True, orient='columns')
df8 = pd.read_json(path8,lines=True, orient='columns')
df9 = pd.read_json(path9,lines=True, orient='columns')
df10 = pd.read_json(path10,lines=True, orient='columns')
df11 = pd.read_json(path11,lines=True, orient='columns')
df12 = pd.read_json(path12,lines=True, orient='columns')
df13 = pd.read_json(path13,lines=True, orient='columns')
df14 = pd.read_json(path14,lines=True, orient='columns')

In [11]:
pics1 = json_normalize(df1['resp'])
df1 = pd.concat([df1,pics1],axis=1)
df1 = df1.drop('resp',axis=1)

pics2 = json_normalize(df2['resp'])
df2 = pd.concat([df2,pics2],axis=1)
df2 = df2.drop('resp',axis=1)

pics3 = json_normalize(df3['resp'])
df3 = pd.concat([df3,pics3],axis=1)
df3 = df3.drop('resp',axis=1)

pics4 = json_normalize(df4['resp'])
df4 = pd.concat([df4,pics4],axis=1)
df4 = df4.drop('resp',axis=1)

pics5 = json_normalize(df5['resp'])
df5 = pd.concat([df5,pics5],axis=1)
df5 = df5.drop('resp',axis=1)

pics6 = json_normalize(df6['resp'])
df6 = pd.concat([df6,pics6],axis=1)
df6 = df6.drop('resp',axis=1)

pics7 = json_normalize(df7['resp'])
df7 = pd.concat([df7,pics7],axis=1)
df7 = df7.drop('resp',axis=1)

pics8 = json_normalize(df8['resp'])
df8 = pd.concat([df8,pics8],axis=1)
df8 = df8.drop('resp',axis=1)

pics9 = json_normalize(df9['resp'])
df9 = pd.concat([df9,pics9],axis=1)
df9 = df9.drop('resp',axis=1)

pics10 = json_normalize(df10['resp'])
df10 = pd.concat([df10,pics10],axis=1)
df10 = df10.drop('resp',axis=1)

pics11 = json_normalize(df11['resp'])
df11 = pd.concat([df11,pics11],axis=1)
df11 = df11.drop('resp',axis=1)

pics12 = json_normalize(df12['resp'])
df12 = pd.concat([df12,pics12],axis=1)
df12 = df12.drop('resp',axis=1)

pics13 = json_normalize(df13['resp'])
df13 = pd.concat([df13,pics13],axis=1)
df13 = df13.drop('resp',axis=1)

pics14 = json_normalize(df14['resp'])
df14 = pd.concat([df14,pics14],axis=1)
df14 = df14.drop('resp',axis=1)

In [12]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14],axis=1)

In [13]:
df_final = df_final.loc[:,~df_final.columns.duplicated()]

In [16]:
df_final.head()

,user_id,name,time,rating,text,pics,gmap_id
0,1.183560e+20,Vicki Ullery,1628718071358,5,Gwen was so informative and made me feel comfo...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
1,1.126523e+20,Doc Kovacs,1609796129431,5,Dr. Huyhn is an ethical skilled dentist. Her s...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
2,1.089879e+20,Pedro Diaz,1594225668169,1,Not sure if one star is fair but my situation ...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
3,1.069277e+20,Brandon Ray,1622676189509,5,Best dentist office I've ever had. Love everyt...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821
4,1.090535e+20,T. Bennett,1434829263041,5,I've been coming to Oasis dentistry for a whil...,None,0x872b5dae3c5fcfa7:0xf0f8b286a2537821

In [15]:
df_final.to_parquet("reviews-Arizona.parquet",engine='fastparquet')