In [1]:
import pandas as pd
import pyarrow

In [2]:
df = pd.read_json('/Users/danielh/Desktop/DATASETS YELP/tip.json', lines=True)
df.head(15)

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
5,trf3Qcz8qvCDKXiTgjUcEg,7Rm9Ba50bw23KTA8RedZYg,"Chili Cup + Single Cheeseburger with onion, pi...",2012-03-13 04:00:52,0
6,SMGAlRjyfuYu-c-22zIyOg,kH-0iXqkL7b8UXNpguBMKg,"Saturday, Dec 7th 2013, ride Patco's Silver Sl...",2013-12-03 23:42:15,0
7,YVBB9g23nuVJ0u44zK0pSA,jtri188kuhe_AuEOJ51U_A,This is probably the best place in the cool Sp...,2016-11-22 22:14:58,0
8,VL12EhEdT4OWqGq0nIqkzw,xODBZmX4EmlVvbqtKN7YKg,Tacos,2012-07-27 01:48:24,0
9,4ay-fdVks5WMerYL_htkGQ,pICJRcyqW1cF96Q3XhLSbw,Starbucks substitute in boring downtown Tampa....,2012-06-09 22:57:04,0
10,OttfcRxgRrYsTg9EV5Aozg,clwjLY7PdYJpe7IP9lrqEw,Order the Tortilla Soup,2014-06-17 01:20:14,0
11,JsXhBw6MntzTJjH_Ue5udw,wLHodvVFLTgK3nl2XG8OCw,Very good will definitely be coming back!!,2017-03-23 22:01:41,0
12,Y0JfJh4B-jrtGc_AHfWi6w,wUMuvdUeVZODZk7TjaD2jg,If the Hotlight is on you must stop in.,2013-02-28 02:05:54,0
13,MlnuJ7T14CE0JDK2ZIOx5g,MDr7KLYSPkEonvGojNEMBw,Let's go Yankees!,2011-07-20 21:52:57,0
14,ffWWVlmsrN5lZ6sjAE-vTw,aK6R2akvIK9ijw3FvDy8vw,Basically same food as rally's for $5 more,2014-06-12 17:34:20,0

In [7]:
df.shape

(908915, 5)

In [8]:
df.isna().sum()

user_id             0
business_id         0
text                0
date                0
compliment_count    0
dtype: int64

In [3]:
dfb=pd.read_parquet('business3estados.parquet')
dfb.head(2)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Friday': '9:0-0:0', 'Monday': '0:0-0:0', 'Sa..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,AZ,19147,39.943223,-75.162568,4.5,205,1,"{'AcceptsInsurance': None, 'AgesAllowed': None...","Korean, Restaurants","{'Friday': '11:30-20:30', 'Monday': '11:30-20:..."

In [4]:
dfb1=dfb['business_id']

In [6]:
dfn= pd.merge(dfb1, df, on='business_id', how='inner')

In [16]:
dfn=dfn.drop(columns=['date'])

In [17]:
dfn.head(2)

,business_id,user_id,text,compliment_count
0,CF33F8-E6oudUQ46HnavjQ,ZnGIEODjnJ7MlvxCSNaiZw,Love sonic but orders are constantly wrong...,0
1,CF33F8-E6oudUQ46HnavjQ,AsBH7jQhHNnrQJ5XJhcnrw,Foods always been good. Shakes r delicious!,0

In [18]:
dfn.to_parquet('tip3estados.parquet')

In [9]:
dfn1=dfn['user_id']
dfn1.head(2)

0    ZnGIEODjnJ7MlvxCSNaiZw
1    AsBH7jQhHNnrQJ5XJhcnrw
Name: user_id, dtype: object

In [8]:
user=pd.read_parquet('user1.parquet')
user.head(2)

,user_id,name,review_count,useful,funny,cool,fans,average_stars,compliment_hot
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,7217,1259,5994,267,3.91,250
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,43091,13066,27281,3138,3.74,1145

In [10]:
dfu= pd.merge(dfn1, user, on='user_id', how='inner')
dfu.head(3)

,user_id,name,review_count,useful,funny,cool,fans,average_stars,compliment_hot
0,ZnGIEODjnJ7MlvxCSNaiZw,Russell,18,14,3,1,0,3.56,0
1,AsBH7jQhHNnrQJ5XJhcnrw,Joe,16,9,1,1,0,3.31,0
2,UV8Fvw2QTepwFiLDWRn6Ug,Jenn,51,79,18,26,5,3.62,0

In [11]:
dfu.shape

(397785, 9)

In [12]:
dfu.to_parquet('user3estados.parquet')